*/target/*
*.swp
.idea
.vscode
*/.settings/*
*/*.project
.project
.settings
*.iml
.classpath
*/.factorypath
bin/
javadocs/
target/*
thunderclap.wav
*.bin
!**/gltf/*.bin
*.blend1
*.blend2
*.blend3
assets/*.blend1
assets/*.blend2
assets/*.blend3
